.cardHeader,
.campaignInfoCard{
  display: grid;
  grid-template-columns: 60px 2.5fr 1.3fr 1fr 1.1fr 0.9fr 1.1fr 0.8fr;
  align-items: center;
  font-size: 0.9rem;
  color: #313131;
  padding: 10px 20px;
  column-gap: 8px;
}

.cardHeader{
  font-weight: 600;
}

.campaignInfoCard{
  background-color: #FFFF;
  border-radius: 10px;
  font-weight: 300;
  margin: 3px;
}

.campaignInfoCard :nth-child(8){
  border: 1px solid #26BAB3;
  color: #26BAB3;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  text-align: center;
  justify-self: start;
  white-space: nowrap;
}