*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

a{
  text-decoration: none;
}

body {
  font-family: 'Istok Web', sans-serif;
  font-size: 22px;
  font-weight: bold;
}