.mainContainer {
  display: flex;
  background-color: #EDF1F4;
  font-weight: bold;
  
}

.hSidenav {
  width: 5%;
  min-width: 80px;
}

.hContent {
  display: flex;
  flex: 1;
  color: #313131;
}

.hSection.left {
  width: 60%;
  padding: 50px;
}

.hSection.right {
  width: 40%;
  padding: 30px 50px 50px 0px;
}

.generalView{
  background-color: #ffff;
  border-radius: 15px;
  margin-top: 45px;
  filter: drop-shadow(0px 0px 20px #00000010);
}

.generalView h2{
  padding: 15px 0px 15px 30px;
}

.cItem h4{
  padding-top: 15px;
  font-size: 15px;
  color: #8C8C8C;
}

.cItem h3{
  font-size: 30px;
}

.campanhaInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  
}

.campanhaIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  
  border-radius: 50%;
}

.campaign h2{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  color: #313131;
}

.campaign{
  color: #313131;
}

.cardHeader{
  display: flex;
  align-items: center;
  font-size: 11px;
  background-color: #ffff;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

.cardHeader span:nth-child(1) {
  margin-right: 30px;
}

.cardHeader span:nth-child(2) {
  margin-right: 160px;
}

.cardHeader span:nth-child(3) {
  margin-right: 130px;
}

.cardHeader span:nth-child(4) {
  margin-right: 70px;
}


.campaignCard{
  display: flex;
  align-items: center;
  font-size: 11px;
  background-color: #ffff;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
}

.campaignCard span:nth-child(1) {
  margin-right: 30px;
}

.campaignCard span:nth-child(2) {
  margin-right: 10px;
}

.campaignCard span:nth-child(3) {
  margin-right: 50px;
}

.campaignCard span:nth-child(4) {
  margin-right: 90px;
}

.cCardInfo{
  padding: 20px;
  font-size: 15px;
  background-color: #ffff;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 20px #00000010);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.cLastSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.cLastSectionUpper,
.cLastSectionBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cLastSection.left,
.cLastSection.right {
  font-size: 17px;
  color: #8C8C8C;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardCounter{
  color: #313131;
  font-size: 160%

}

.cLastSection span{
  padding-left:5px;
}

.cLastGroup{
  padding: 20px 0px 20px 0px;
}

.campaignLast h2{
  padding-bottom: 20px;
}



