.mainContainer {
  display: flex;
  background-color: #EDF1F4;
  font-weight: bold;
  
}

.hSidenav {
  width: 5%;
  min-width: 80px;
}

.cInfoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #313131;
  gap: 10px;
  padding: 10px;
  margin-right: 30px
}

.campanhaTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px 40px 10px 20px;
  border-radius: 10px;
  margin-top:50px;
}

.campanhaTitle span{
  border: 1px solid #313131;
  color: #313131;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 13px;
  white-space: nowrap;
}

.cSectionContainer{
  display: flex;
  flex-direction: row;
  margin-right: 0px;
}

.cInfoSection.left {
  width: 70%;
  padding: 50px;
  padding-top: 20px;
  align-items: center;
}

.cInfoSection.right {
  width: 30%;
  padding:20px 50px 50px 0px;
}

.campanhaId{
  display:flex;
  flex-direction: row;
}

.cardCampanha {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 15px 20px;
  color: #313131;
  gap: 10px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardName {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  color: #8C8C8C;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 15px;
}

.cardColumn.end {
  align-items: flex-end;
  text-align: right;
}

.userListHeader,
.userCard {
  display: grid;
  grid-template-columns: 70px 2fr 2.2fr 100px;
  align-items: center;
  font-size: 0.9rem;
  color: #313131;
  padding: 12px 20px;
}

.userListHeader {
  font-weight: 600;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  padding-right: 25px;
}

.userCard {
  background-color: #FFFFFF;
  border-radius: 10px;
  font-weight: 400;
  margin: 6px 0;
  transition: background 0.2s ease;
}

.userCard:hover {
  background-color: #f8f8f8;
}

.status {
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 10px;
  font-size: 0.8rem;
  text-align: center;
  justify-self: start;
  white-space: nowrap;
}

.status.sim {
  border-color: #BA4D26;
  color: #BA4D26;
}

.status.nao {
  border-color: #26bab3;
  color: #26bab3;
}

.userListContainer {
  padding: 10px 0;
}

.conversaoContainer{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 30px;
  margin-right: 0px;
}

.conversaoSection.left{
  display: flex;
  flex-direction: column;
  gap: 25px;
  color:#8C8C8C;
  font-size: 60%;
}

.conversaoSection.left span{
  font-size: 220%;
  font-weight: 600;
  color: #313131;
  margin-left: 30px;
}

.conversaoSection.right{
  display: flex;
  align-items: end;
}

.cardId {
  font-size: 12px;
  color: #313131;
}

.h3 {
  font-size: 16px;
  margin: 0;
}

.cardStatus {
  border: 1px solid #26BAB3;
  color: #26BAB3;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
}


.iconInfo {
  font-size: 17px;
  margin-bottom: 5px;
}

.finalizaLabel {
  font-size: 12px;
  color: #666;
}

.finalizaTempo {
  font-size: 20px;
  color: #000;
}

@media (max-width: 600px) {
  .cardGrid {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .cardColumn.end {
    align-items: flex-start;
  }
}